In [7]:
x = 1
y = 5

if x < y:                            # Truthy,, if dijalankan jika hasilnya true..harus tipe data boolean
    print('1')

if y < x:                            # Falsy
    print('2')

if x:                                # Falsy
    print('3')

if y:                                # Truthy
    print('4')

if 'aul' in 'grault':                # Truthy
    print('5')

if 'quux' in ['foo', 'bar', 'baz']:  # Falsy
    print('yes')

1
3
4
5

In [12]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [11]:
# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('A')      #  x

    if 10 > 20:                           #  x
        print('AA')        #        x

    print('BB')     #  x,,print ini

    if 10 < 20:                           #  x
        print('CC')        #  x

    print('DD')       #  x
print('After outer condition')            #  x

A
BB
CC
DD
After outer condition

In [17]:
x = 50

if x == 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [19]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 22000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

beli buku

In [25]:
hargaBuku = 20000
hargaMajalah = 20000
uang = 22000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

beli buku

In [27]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Broh Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Broh Hacktiv8

In [46]:
if 'c' in 'bar': 
    print('foo')
elif 1/2:
    print("AA")
elif var:
    print("BB")

AA

In [34]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [37]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [38]:
x = 3
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [42]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [47]:
if 'o' in 'xo':
  print('1')
elif 1/1:
  print('2')

SyntaxError: invalid character in identifier (<ipython-input-47-88a35e2c4fe7>, line 1)

In [53]:
Sakit =False
print("Let's go to the", 'RS' if not raining else 'Kantor')

Let's go to the Kerja

In [55]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [57]:
'Bener' if ('qux' in ['foo', 'bar', 'baz']) else 'Salah'

'Salah'

In [62]:
if a > b:
    m = a
else:
    m = b

In [64]:
if True:
    pass

print('foo')

foo

In [73]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [68]:
i = 1
while i < 6:
  print(i)
  i += 2

1
3
5

In [69]:
n = 5
while n > 0:
    n -= 1     #star pengulangan dari 5-1 = 4
    if n == 2: #berhenti di n=2
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [70]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [72]:
n = 5
while n > 0:
    n -= 2
    print(n)
else:
    print('Loop done.')

3
1
-1
Loop done.

In [75]:
n = 5
while n > 0:
    n -= 2
    print(n)
else:
    print('Loop done.')

3
1
-1
Loop done.

In [77]:
a = ['foo', 'bar']

while len(a): #true 
    print(a.pop(0)) #keluarin a index 0
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [78]:
a = ['foo', 'bar']



while len(a):

  print('List a sebelum pop ', a)

  print(a.pop(0))

  print('List a sekarang : ', a)

  b = ['axx', 'bxx']

  print('List b sebelum pop ', b)

  while len(b):

    print('>',b.pop(0))

    print('List b sekarang : ', b)

  print('')

List a sebelum pop  ['foo', 'bar']
foo
List a sekarang :  ['bar']
List b sebelum pop  ['axx', 'bxx']
> axx
List b sekarang :  ['bxx']
> bxx
List b sekarang :  []

List a sebelum pop  ['bar']
bar
List a sekarang :  []
List b sebelum pop  ['axx', 'bxx']
> axx
List b sekarang :  ['bxx']
> bxx
List b sekarang :  []

In [79]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

In [83]:
b = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [91]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [92]:
for k in d:
    print(d[k])

1
2
3

In [94]:
for k in d.values():
    print(k)

1
2
3

In [95]:
for k, v in d.items(): 
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [96]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [97]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [99]:
x = range(10)
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [100]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [101]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [102]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # Will execute

foo
bar
baz
qux
Done.

In [103]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  # Will not execute

foo

In [106]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 90
Masukan input yang benar
Temperaturnya adalah 54 derajat

In [ ]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break